{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block list_header %}
    <div class="pull-right" style="margin-right: 10px;">
        <label class="control-label">Aktuální (disponibilní) prostředky: </label>
        <label class="control-label">{{ sumOf }}.</label>
    </div>
{% endblock %}