{% if admin.hasAccess('create', object) and admin.hasRoute('create') %}
    <a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-sm btn-default clone_link" title="{{ 'action_clone'|trans }}">
        <i class="fa fa-clone" aria-hidden="true"></i>
        {{ 'action_clone'|trans }}
    </a>
{% endif %}
