{#{% dump(field_description.options.actions.signin.adminAttendance) %}#}
{% if field_description.options.actions.signin.adminAttendance is not null and field_description.options.actions.signin.adminAttendance is defined and admin.hasAccess('list', object) and admin.hasRoute('list') %}
    <a href="{{ field_description.options.actions.signin.adminAttendance.generateObjectUrl('create') }}" class="btn btn-sm btn-default signin_link" title="{{ 'action_signin'|trans }}">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        {{ 'action_signin'|trans }}
    </a>
{% endif %}
