{#
This file is part of the YesWeHack BugBounty backend
(c) Romain Honel <romain.honel@gmail.com>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
        {% if value %}
            <a href="{{ vich_uploader_asset(object, 'documentFile') }}" download="{{ value|slice(14) }}">{{ value|slice(14) }}</a>
        {% endif %}
{% endblock %}
