{% extends get_admin_template('base_list_field', admin.code) %}

{% if object.id == app.user.id %}
	{% set cell_class = "roj_table highlight" %}
{% else %}
	{% set cell_class = "roj_table" %}
{% endif %}

{% block field %}
    {{ value }}
{% endblock %}
