{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.classAvailable(field_description.options.tagClass) %}
        {% set text = 'label_type_yes'|trans({}, 'SonataAdminBundle') %}
        {% set class = 'label-success' %}
    {% else %}
        {% set text = 'label_type_no'|trans({}, 'SonataAdminBundle') %}
        {% set class = 'label-danger' %}
    {% endif %}

    <span class="label {{ class }}">{{ text }}</span>
{% endblock %}