{#
This file is part of the YesWeHack BugBounty backend
(c) Romain Honel <romain.honel@gmail.com>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% spaceless %}
        {% set width = field_description.options.width is defined ? field_description.options.width : 50 %}
        {% set height = field_description.options.height is defined ? field_description.options.height : 50 %}
        {% if value %}
            <img src="{{ vich_uploader_asset(object, 'imageFile') }}" alt="{{ object.fullname }}" style="max-width:{{ width }}px; max-height:{{ height }}px;"/>
        {% else %}
            <div class="no-image" style="width:{{ width }}px; height:{{ height }}px;"></div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
