{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if value is not null %}
        {{ value }} {{ field_description.options.currency }}
    {% endif %}
{% endblock %}
