{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block table_body %}
    <tbody>
    {% for object in admin.datagrid.results %}
        <tr
            {% if object.dateDone and date(object.dateDone) < date() %}
                style="background-color: #99ff99"
            {% elseif object.dateDue and date(object.dateDue) < date() %}
                style="background-color: #ff9999"
            {% elseif object.dateDue and date(object.dateDue) < date('+1month') %}
                style="background-color: #cc99ff"
            {% endif %}
        >
            {% include get_admin_template('inner_list_row', admin.code) %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
