{% extends "@SonataAdmin/CRUD/list_choice.html.twig" %}

{% block field %}
    <span class="label
    {% if value == 'NOT_AVAILABLE'|enum_constant %}
            label-info
    {% elseif value == 'NOT_REFUND'|enum_constant %}
            label-danger
    {% elseif value == 'REFUND'|enum_constant %}
            label-success
    {% elseif value == 'BANK'|enum_constant %}
            bg-navy
    {% elseif value == 'CASH_BIG'|enum_constant %}
            bg-maroon
    {% elseif value == 'CASH_SMALL'|enum_constant %}
            bg-olive
    {% elseif value == 'GREY_BILL'|enum_constant %}
            label-default
    {% elseif value == 'INCOME'|enum_constant %}
            label-success
    {% elseif value == 'EXPENSE'|enum_constant %}
            label-danger
    {% else %}
            label-primary
    {% endif %}
    ">{{ value|readable_enum }}</span>
{% endblock %}
