{% extends "@SonataAdmin/CRUD/list_choice.html.twig" %}

{% block field %}
    <span class="label
    {% if value == 'BANK'|enum_constant %}
            bg-navy
    {% elseif value == 'CASH_BIG'|enum_constant %}
            bg-maroon
    {% elseif value == 'CASH_SMALL'|enum_constant %}
            bg-olive
    {% elseif value == 'GREY_BILL'|enum_constant %}
            label-default
    {% else %}
            label-primary
    {% endif %}
    ">{{ value|readable_enum }}</span>
    {% if object.accountTo is defined and object.accountTo is not empty %}
        -><span class="label
        {% if object.accountTo == 'BANK'|enum_constant %}
                bg-navy
        {% elseif object.accountTo == 'CASH_BIG'|enum_constant %}
                bg-maroon
        {% elseif object.accountTo == 'CASH_SMALL'|enum_constant %}
                bg-olive
        {% elseif object.accountTo == 'GREY_BILL'|enum_constant %}
                label-default
        {% else %}
                label-primary
        {% endif %}
        ">{{ object.accountTo|readable_enum }}</span>
    {% endif %}
{% endblock %}
