{% extends get_admin_template('base_list_field', admin.code) %}

{# @var object App\Entity\User #}

{% set attendance = null %}
{% set attendances = admin.getAttendances() %}
{% if attendances[object.id] is defined and attendances[object.id][field_description.options.event_id] is defined %}
    {% set attendance = attendances[object.id][field_description.options.event_id] %}
{% endif %}
{% if attendance is not null %}
    {% if attendance.note %}
        {% set cell_title = attendance.note %}
    {% endif %}
{% endif %}
{% if object.id == app.user.id %}
	{% set cell_class = "cell_hvr roj_table highlight" %}
{% else %}
	{% set cell_class = "cell_hvr roj_table" %}
{% endif %}

{% block field %}
    {% if attendance is not null %}
        <div style="float:left;width:9%;" class="cell_{{ object.id }}_{{ field_description.options.event_id }}"><a href="{{ url('admin_app_attendance_edit', {'id': attendance.id}) }}">e</a></div>
        <div style="float:left;width:90%;">
            {% if attendance.attendance == 'YES'|enum_constant %}
                {% if attendance.abbreviation is defined and attendance.abbreviation|length > 0 %}
                    {% for abbr in attendance.abbreviation %}
                        {{ abbr }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                {% else %}
                    *
                {% endif %}
            {% elseif attendance.attendance == 'MAYBE'|enum_constant %}
                ?
            {% else %}
                xxx
            {% endif %}
            {% if attendance.lunchCorrection is defined and attendance.lunchCorrection > 0 %}
                (+{{ attendance.lunchCorrection }})
            {% endif %}
        </div>
        {% if attendance.note %}
            <div style="float:right;width:1%;"><i><sup>i</sup></i></div>
        {% endif %}
    {% else %}
        <div style="float:left;width:9%;"><a href="{{ url('admin_app_attendance_create', {'eventId': field_description.options.event_id, 'userId': object.id }) }}">+</a></div>
        <div style="float:right;">
            <a href="{{ url('admin_app_attendance_attendance', {'eventId': field_description.options.event_id, 'userId': object.id, 'attendance': 'yes' }) }}">Ano</a>
            <a href="{{ url('admin_app_attendance_attendance', {'eventId': field_description.options.event_id, 'userId': object.id, 'attendance': 'no' }) }}">Ne</a>
        </div>
    {% endif %}
{% endblock %}
